.navbar{
    height: 40px;
    background-color: #2657af;  
}

.navbar .menu {
    list-style-type: none;
}

.navbar .menu li {
    float: left;
}

.navbar .menu li a {
    color: white;
    /* background-color: black; */
    text-decoration: none;
    line-height: 40px;
    margin: 0px 8px;
    padding: 0px 7px;
}

.article-topic .sport {
    text-decoration: none;
    color: #c02a29;
}

.title {
    color: #2657af;;
}

.time{
    color: #666;
}
